@-webkit-keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes fadeslideDown{
  0% {
        opacity: 0;
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    } 
   100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
   }
}

@keyframes fadeslideDown{
  0% {
        opacity: 0;
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    } 
   100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
   }
}

@-webkit-keyframes fadeslideUp{
  0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
                transform: translateY(10%);
  }
  100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
  }
}

@keyframes fadeslideUp{
  0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
                transform: translateY(10%);
  }
  100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
  }
}

.navbar-inverse{
  opacity:0.9;
  background:#000;
  color:white;
}

.navbar-right{
  -webkit-transform:translateX(-10px);
          transform:translateX(-10px);
}

.switchbuttons{
  background-color:#000;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  color:white;
  padding:10px;
  font-size:1.3em;
  
}

.switchbuttons.enabled{
  background-color:#FFF;
  color:black;
}

.animation-element.in-view.quote-text {
  opacity: 1;
  -webkit-animation: fade 1.2s ease-in;
          animation: fade 1.2s ease-in;
}

.animation-element.in-view.social{
  opacity: 1;
  -webkit-animation: fadeslideDown 1s ease-in;
          animation: fadeslideDown 1s ease-in;
}

.animation-element.in-view.portfolio-item{
  opacity: 1;
  -webkit-animation: fadeslideUp 1s ease-in;
          animation: fadeslideUp 1s ease-in;
}

.intro-header {
  height:auto;
  min-height:100vh;
  text-align: center;
  overflow-y:hidden;
  background:url(http://s19.postimg.org/jexckkqnn/milky_way_1031138_1280.jpg) fixed;
  background-size: cover;
  padding-top:25vh;
  padding-bottom:35vh;
}

.img-responsive{
  width:100%;
  border:none;
}

.about-section {
  height:auto;
  min-height:100vh;
  padding:5%;
  text-align: center;
  background: #CCC;
}

.portfolio-section {
  height: auto;
  min-height:100vh;
  padding: 5%;
  background:#033;
  background: url(http://s19.postimg.org/jexckkqnn/milky_way_1031138_1280.jpg) fixed no-repeat;
  background-size:cover;
  text-align: center;
}

#img_highQuality {
    display: none;
}

.contact-section {
  height: auto;
  padding: 5%;
  text-align: center;
  background: #000;
}

img[src='None']{
    display: none;
}

.header-text {
  font-size: 4em;
  color: #FFF;
}

.btn-text{
  background-color: black;
  color: white;
  font-size: 20px;
}

.btn-text i{
  color: #0F0;
}

.btn-text:hover{
  color: black;
}

.btn-text:hover i{
  color: black;
}

.quote-text {
  color: white;
}

.text-desc {
  margin: 5px 0 0 10px;
  text-align: left;
  font-size: 1.7em;
  color: #000;
}

.head{
  color: #000;
  text-shadow: 2px 2px 4px #555;
  font-weight: bold;
  font-family: Monospace;
  font-size: 1em;
}

.desc-head {
  color: #000;
  text-shadow: 2px 2px 4px #555;
  font-weight: bold;
  font-family: Monospace;
  font-size: 3em;
}

.portfolio-header {
  font-weight: bold;
  text-shadow: 4px 4px 9px #000000;
  font-family: Monospace;
  font-size: 4em;
  margin-bottom:6%;
  color: #FFF;
}

.portfolio-caption{
  background:#FFF;
  padding:3px;
  z-index:45;
}

.portfolio-item {
  border-color:#FFF;
  margin:4%;
  border: 1px outset rgba(255, 255, 255, 0.6); 
  -webkit-transition: box-shadow 0.3s; 
  transition: box-shadow 0.3s;
}

.portfolio-item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.email-container {
  color:white;
  font-family:Monospace;
  font-size:1.7em;
  text-align:left;
  margin-bottom:3%;
}

.social-container{
  margin-top:20%;
  margin-left:10%;
  list-style-type: none;
}

.footer{
  background-color: #222;
  background-color: rgba(13, 13, 13, 0.9);
  padding-top:3%;
  padding-left:3%;
}

@media only screen and (max-width: 760px) {
    .social-container{
        margin-top:10%;
        margin-bottom:2%;
        margin-left:0;
    }
  
    .contact-section {
      min-height:auto;
      text-align: left;
      background: #000 fixed;
    }
}